h1{
    font-weight: 500;
    margin: 0;
}
p{
    font-weight: 300;
}
h1, p{
    font-family: Helvetica, sans-serif;
    padding: 0 10px;
}
.subtitulo, h2{
    margin: 0;
    color: gray;
}
.card{
    width: 300px;
    border: 2px solid #cccccc;
    border-radius: 5px;

    position: relative;
    top:50vh;

}

.card img{
    width: 300px
}